<p>Ever feel like you'd know a lot more about someone if you knew their favorite color? Or who their favorite character on Friend is? (Chandler, duh). LoveBuzz feels the same way. LoveBuzz is a dating app that matches you based on your answers to our quizzes. Are you an Ariel? We match you with real-life Prince Erics. Do you both hate Nick from the Backstreet Boys? We match you with someone to share that obsession. Have fun! </p>

<div id="Qstage"></div>